:root {
  --marrom: #52402A;
  --azul-claro: #D4E1E9;
  --branco: #FFFFFF;
  --preto: #0000;
}

body,
.bg-body-tertiary,
.container-fluid {
  background-color: var(--azul-claro);
  margin: 0;
  padding: 0;
}


/* ------------------- navbar ------------------- */

/* ---------------------------------------------- */



/* -------------------- main -------------------- */

/* ------------------------------------------------ */



/* -------------------- footer -------------------- */

/* ------------------------------------------------ */