:root {
    --marrom: #52402A;
    --azul-claro: #D4E1E9;
    --branco: #FFFFFF;
    --preto: #0000;
  }

main {
    background-color: var(--azul-claro);
    width: 100%;
    height: 100%;

  }
  
  
  .float-left {
    width: 60%;
    height: 60%;
    display: flex;
    margin-left: 45%;
  }
  
  .corpo {
    padding: 6%;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--branco);
    font-family: Simonetta;
    font-style: italic;
    text-shadow: #000 1px 1px 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
     /* Importar */
  }
  
  .p-frase {
    width: 400px;
    font-size: 50px;
    position: absolute;
  }
  
  .frase {
    margin-right: 8%;
    display: flex;
    flex-direction: column;
    position: absolute;
  }
  
  .hr-frase{
    width: 490px;
    height: 38px;
    display: flex;
    margin-top: 180px;
  }

  p.autor{
    font-size: 30px; 
    font-weight: 100px;
  }
