:root {
    --marrom: #52402A;
    --azul-claro: #D4E1E9;
    --branco: #FFFFFF;
    --preto: #0000;
}

h2 {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    color: var(--marrom);
}

.disponivel {
    margin-bottom: 5px;
    transition: transform 0.2s;
    width: 20%;
    height: 20%;
}

.disponivel:hover {
    transform: scale(1.05);
}

.row {
    justify-content: center;
    display: flex;
    align-items: flex-start;
}

.horizontal {
    width: 30%;
    height: 30%;
}

.overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay-content {
    background: #DBDAD6;
    border-radius: 8px;
    overflow: auto;
    display: flex;
    max-width: 80%;
    max-height: 98%;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

.imagem-content {
    display: flex;
    max-width: 80%;
    max-height: 100%;
    padding: 10px;
}

.imagem-content img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.ajustar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: auto;
}

h1 {
    font-size: 64px;
    color: var(--marrom);
    font-family: Quicksand;
    font-weight: bold;
    align-self: start;
}

.p {
    color: var(--marrom);
    font-size: 25px;
    align-self: start;
    font-family: Quicksand;
}

@media (max-width: 1280px) {
    .overlay-content {
        width: 80%;
        height: 70%;
        padding: 15px;
    }

    h1 {
        font-size: 48px;
    }

    .p {
        font-size: 20px;
    }

    .imagem-content {
        width: auto;
        height: auto;
    }
}

@media (max-width: 992px) {
    .overlay-content {
        width: 90%;
        height: 40%;
        padding: 15px;
    }

    h1 {
        font-size: 40px;
    }

    .p {
        font-size: 18px;
    }

    .imagem-content {
        width: auto;
        height: auto;
    }
}

@media (max-width: 768px) {
    .overlay-content {
        width: 90%;
        height: 90%;
        padding: 10px;
        flex-direction: column;
    }

    h1 {
        font-size: 32px;
    }

    .p {
        font-size: 16px;
    }

    .imagem-content {
        width: auto;
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
    }
}

@media (max-width: 576px) {
    .overlay-content {
        width: 80%;
        height: auto;
        padding: 5px;
        flex-direction: column;
    }

    h1 {
        font-size: 24px;
    }

    .p {
        font-size: 14px;
    }

    .imagem-content {
        width: auto;
        height: auto;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin-bottom: 15px;
        margin-top: 10px;
    }
}

.encomendar {
    background-color: var(--marrom);
    color: #fff;
    padding: 8px 8px;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
    margin-top: 20px;
    font-family: Quicksand;
    max-width: 300px;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
}