:root {
    --marrom: #52402A;
    --azul-claro: #D4E1E9;
    --branco: #FFFFFF;
    --preto: #0000;
}

.container {
    padding: 5%;
    width: 100%;
}

h2 {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    color: var(--marrom);
}

.disponivel {
    margin-bottom: 40px;
    transition: transform 0.2s;
    width: 20%;
    height: 20% auto;
}

.disponivel:hover {
    transform: scale(1.05);
}

.row {
    justify-content: center;
    display: flex;
    align-items: flex-start;
}

.horizontal {
    width: 30%;
    height: 30%;
}

.overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-content {
    background: #DBDAD6;
    padding: 20px;
    border-radius: 8px;
    overflow: auto;
    display: flex;
}

.overlay-content img {
    padding: 20px;
}

.ajustar{
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 64px;
    color: var(--marrom);
    font-family: Quicksand;
    font-weight: bold;
    align-self: start;
}

.p {
    color: var(--marrom);
    font-size: 25px;
    align-self: start;
    font-family: Quicksand;
    max-width: 600px;
    min-width: 600px;
}

.encomendar {
    background-color: var(--marrom);
    color: #fff;
    padding: 8px 8px;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
    margin-top: 20px;
    font-family: Quicksand;
    max-width: 300px;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
}