:root {
    --marrom: #52402A;
    --azul-claro: #D4E1E9;
    --branco: #FFFFFF;
    --preto: #0000;
}

.aquarela {
    margin-bottom: 5px;
    transition: transform 0.2s;
    width: 20%;
    height: 20% auto;
}