:root {
  --marrom: #52402A;
  --azul-claro: #D4E1E9;
  --branco: #FFFFFF;
  --preto: #0000;
}

footer {
  background-size: cover;
  background-position: center;
  color: var(--branco);
  font-family: "Quicksand", sans-serif;
  width: 100%;
  background-image: url(../../img/footer.png);
  bottom: 0;
}

.footer-link {
  display: flex;
  margin-bottom: 5px;
  text-decoration: none;
  color: var(--branco);
  align-self: start;
}

.footer-link img {
  margin-right: 10px;
}

.mariane-footer {
  color: var(--azul-claro);
  font-size: 36px;
  font-weight: bold;
}

.contatos {
  color: var(--azul-claro);
  font-weight: 600;
  display: flex;
}

.display-flex {
  display: flex;
  text-align: justify;

}