:root {
  --marrom: #52402A;
  --azul-claro: #D4E1E9;
  --branco: #FFFFFF;
  --preto: #0000;
}

footer {
  background-image: url(../../img/footer.png);
  background-size: cover;
  background-position: center;
  color: var(--branco);
  font-family: "Quicksand", sans-serif;
  padding: 25px 0;
  width: 100%;
}

.footer-items {
  padding: 0 4%;
  margin: auto;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
}

.footer-link {
  text-decoration: none;
  color: var(--branco);
  justify-content: flex-start;
  display: flex;
}

.footer-link img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.mariane-footer {
  color: var(--azul-claro);
  font-size: 36px;
  font-weight: bold;
}

.contatos {
  color: var(--azul-claro);
  font-weight: 600;
}