/* Estilo para o botão */
button {
    background-color: #25D366; /* Cor do botão do WhatsApp */
    color: #fff; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: none; /* Sem borda */
    cursor: pointer; /* Cursor ao passar */
    border-radius: 5px; /* Borda arredondada */
    transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
  
    /* Ajustes adicionais conforme necessário */
  }
  
  /* Estilo para o botão ao passar o mouse */
  button:hover {
    background-color: #128C7E; /* Cor de fundo ao passar o mouse */
  }
  