:root {
  --marrom: #52402A;
  --azul-claro: #D4E1E9;
  --branco: #FFFFFF;
  --preto: #0000;
}


.bg-body-tertiary,
.container-fluid {
  background-color: var(--azul-claro);
  padding: 0;
}

header {
  max-width: 100%;
}

.header {
  padding: 0;
  margin: 0%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.img-header {
  padding: 10px;
  width: 80%;
  height: 80%;
}

.navbar-toggler,
.navbar-toggler-icon {
  border: none;
}

.offcanvas.offcanvas-start {
  max-width: 300px;
}

.logo-sidebar {
  max-width: 90px;
  margin-left: auto;
}

.nav-link,
.nav-item {
  font-weight: 600;
}

.item.nav-link {
  background-color: var(--azul-claro);
  margin-bottom: 8px;
  border-radius: 8px;
  padding: 10px;
}

form .Button {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 15px;
  font-size: 90%;
  margin-right: 10px;
  width: 100%;
}

.Button {
  background-color: var(--marrom);
  color: var(--branco);
  border-radius: 50px;
  font-family: "DM Sans";
  border: none;
  text-decoration: none;
}