:root {
    --marrom: #52402A;
    --azul-claro: #D4E1E9;
    --branco: #FFFFFF;
    --preto: #0000;
}

.alinhar{
    display: flex;
    flex-direction: column;

}
.contact-info .footer-link {
    color: var(--marrom);
}

.contact-info{
    margin-top: 10px;
}

.text-center {
    color: var(--marrom);
    font-size: 20px;
}