:root {
    --marrom: #52402A;
    --azul-claro: #D4E1E9;
    --branco: #FFFFFF;
    --preto: #0000;
}

.alinhar{
    display: flex;
    flex-direction: column;

}
.contact-info .footer-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    color: var(--branco);
}

.text-center {
    color: var(--marrom);
    font-size: 20px;
}

.Hr {
    color: var(--marrom);
    display: flex;
    margin-bottom: 24px;
}