.alinhar{
    display: flex;
    flex-direction: column;
}
.contact-info .footer-link {
    color: var(--marrom);
}

.contact-info{
    margin-top: 10px;
}

.text-center {
    color: var(--marrom);
    font-size: 20px;
}

.espacamento {
    margin: 3%
}

.img-fluid {
    max-width: 90%;
    min-width: none;
}